<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/showmemostyle.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content_title %></p>

    <p><%= content_body %></p>

    <button type="“button”" <%-url %>
      変更
    </button>

    <form method="post" action="/?_method=delete">
      <button
        type="“submit”"
        formaction="/?_method=delete"
        name="deleted"
        value=<%= id %>
      >
        削除
      </button>
    </form>
  </body>
</html>
